---
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = 'JW Bollenbacher' } = Astro.props;
const pageTitle = title === 'JW Bollenbacher' ? title : `${title} | JW Bollenbacher`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="/myicon.png" type="image/png" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
