---
import TonnetzBackground from '../components/TonnetzBackground.jsx';
import '../styles/global.css';
---
<slot name="head" />
<div
  class="min-h-screen flex flex-col items-center justify-center text-center px-4 font-mono text-[#222] relative"
  style="background: radial-gradient(circle, #f4e9dc 10%, #e8dcc7 90%);"
>
  <TonnetzBackground client:load />
  <div class="relative z-10 w-full flex flex-col items-center">
    <slot />
  </div>
</div>
